[Unit]
Description=Flask-app
After=network.target

[Service]
WorkingDirectory=/opt/app/flask-app/
ExecStart=/opt/app/env/bin/python -m flask run -h 0.0.0.0 -p 80
Environment="APP_SETTINGS=/etc/flask-app/config.py"
Restart=always

[Install]
WantedBy=multi-user.target
